@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Coming Soon", cursive, "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
